@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Roboto+Slab:wght@600&display=swap');
@import url('./reset.css');
@import url('./theme.css');

body {
    background-color: var(--color-primary);
    color: var(--color-font);
    font-family: 'Grape Nuts', cursive;
}

nav {
    padding: 1rem 0;
}

nav ul li{
    display: inline-block;
    margin: 0 1rem;
}

nav ul li a{
    color: var(--color-nav);
    font-size: 2.5rem;
    text-decoration: none;
}

header {
    text-align: center;
    margin: 3rem 0;
}

header h1 {
    font-size: 7rem;
}

main {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
}

form{
    margin: 5rem 0;
    width: 100%;
}

form label{
    display: block;
    font-size: 2.6rem;
}

form input{
    width: 100%;
    padding: 1rem;
    background-color: rgba(0,0,0,0);
    border: 0.2rem solid var(--color-border);
    font-family: 'Grape Nuts', cursive;
    color: var(--color-font-secondary);
    font-size: 2.5rem;
}

form input.email_acceuille {
    width: 75%;
}

form input.glow-on-hover {
    width: 24%;
    padding: 1rem;
    background-color: var(--color-font);
    border: 0.2rem solid var(--color-font);
    font-size: 2.5rem;
    font-family: 'Grape Nuts', cursive;
    color: #fff;
}

button {
    width: 100%;
    padding: 1rem;
    background-color: var(--color-font);
    border: 0.2rem solid var(--color-font);
    font-size: 2.5rem;
    font-family: 'Grape Nuts', cursive;
    color: #fff;

}

form input.valider {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 1rem;
    background-color: var(--color-font);
    border: 0.2rem solid var(--color-font);
    font-size: 2.5rem;
    font-family: 'Grape Nuts', cursive;
    color: #fff;
}

form select {
    width: 100%;
    padding: 1rem;
    background-color: rgba(0,0,0,0);
    border: 0.2rem solid var(--color-border);
    font-family: 'Grape Nuts', cursive;
    color: var(--color-font-secondary);
    font-size: 2.5rem;
}

form input.valider {
    display: block;
    margin: auto;
    margin-top: 5rem;
    width: 25%;
    padding: 1rem;
    background-color: var(--color-font);
    border: 0.2rem solid var(--color-font);
    font-size: 2.5rem;
    font-family: 'Grape Nuts', cursive;
    color: #fff;
}

section.take_your_place{
    display: block;
    border: 0.2rem solid var(--color-border);
}

section ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

section.intro ul li:last-child{
    padding: 1rem;
    text-align: center;
    font-size: 2.5rem;
}

section.location ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

section.location ul li ul{
    display: grid;
    grid-template-columns: repeat(1, 3fr);
}

section.location ul li ul li{
    margin: 1rem;
}

section.location ul li ul li p{
    margin: 1rem 0;
}

section form{
    text-align: center;
}

section p{
    text-align: center;
    margin: 3rem 0;
    font-size: 3rem;
}

.icon {
    width: 20rem;
    height: auto;
}

li{
    display: inline-block;
}

footer {
    text-align: center;
    margin: 3rem 0;
}

footer p {
    font-size: 2.8rem;
}

@media screen and (max-width: 80rem) {
    form input.email_acceuille{
        width: 100%;
    }
    form input.glow-on-hover{
        width: 100%;
    }
}