@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Roboto+Slab:wght@600&display=swap');
@import url('./reset.css');
@import url('./theme.css');

body {
    background-color: var(--color-primary);
    color: var(--color-font);
    font-family: 'Grape Nuts', cursive;
}

header {
    text-align: center;
    margin: 3rem 0;
    max-width: 80rem;
}

section {
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
}

form{
    width: 100%;
}

section form{
    text-align: center;
}

.icon {
    width: 8rem;
    height: auto;
}

li{
    display: inline-block;
}
