@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Roboto+Slab:wght@600&display=swap');
@import url('./reset.css');
@import url('./theme.css');

body {
    background-color: var(--color-primary);
    color: var(--color-font);
    font-family: 'Grape Nuts', cursive;
}

header {
    text-align: center;
    margin: 3rem 0;
}

main {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
}

form{
    padding: 5rem;
    width: 100%;
}

form input.email{
    width: 75%;
    padding: 1rem;
    background-color: rgba(0,0,0,0);
    border: 0.2rem solid var(--color-border);
}

form input.glow-on-hover{
    width: 24%;
    padding: 1rem;
}

section form{
    text-align: center;
}

.icon {
    width: 8rem;
    height: auto;
}

li{
    display: inline-block;
}

footer {
    text-align: center;
    margin: 3rem 0;
}